In [1]:
import pandas as pd

import plotly.express as px
import plotly.io as pio

pio.templates.default = "plotly_dark"

In [2]:
# Set display options to show all rows and columns

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
world_raw_data = pd.read_csv('IDS_ALLCountries_Data.csv', encoding='ISO-8859-1')
india_sector_data = pd.read_csv('sector.csv')

In [4]:
world_raw_data.shape

(77792, 67)

In [5]:
world_raw_data.columns

Index(['Country Name', 'Country Code', 'Counterpart-Area Name',
       'Counterpart-Area Code', 'Series Name', 'Series Code', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025',
       '2026', '2027', '2028', '2029', '2030'],
      dtype='object')

In [6]:
# Checking for missing values:
print(f"The count of missing values: {world_raw_data.isnull().sum().sum()}")

The count of missing values: 2182943

In [7]:

# You can use the ~ operator with isin() to filter out the specified values
world_bank_country = world_raw_data[~world_raw_data['Country Code'].isin(['EAP', 'ECA', 'IDX', 'IDA', 'LAC', 'LDC', 'LMY', 'LIC', 'LMC', 'MNA', 'MIC', 'SAS', 'SSA', 'UMC'])].copy()

# Now 'filtered_data' contains rows where 'Country Code' is not in the specified list

In [8]:
world_bank_country.shape

(69784, 67)

In [9]:
world_bank_country.head()

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
0,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.2500,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.OFFT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.2500,8.0833,9.9575,0.0,7.8333,0.0,0.0,0.0,29.8333,0.0,0.0,19.8356,0.0,17.9041,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.PRVT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,0.0000,0.0000,0.0,0.0000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0000,0.0,0.0000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.DPPG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.6176,43.0248,58.0061,0.0,21.2119,0.0,0.0,0.0,81.9289,0.0,0.0,64.2646,0.0,73.0790,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.OFFT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.6176,43.0248,58.0061,0.0,21.2119,0.0,0.0,0.0,81.9289,0.0,0.0,64.2646,0.0,73.0790,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
world_bank_country.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69784 entries, 0 to 77791
Data columns (total 67 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country Name           69784 non-null  object
 1   Country Code           69784 non-null  object
 2   Counterpart-Area Name  69784 non-null  object
 3   Counterpart-Area Code  69784 non-null  object
 4   Series Name            69784 non-null  object
 5   Series Code            69784 non-null  object
 6   1970                   28218 non-null  float64
 7   1971                   29006 non-null  float64
 8   1972                   29636 non-null  float64
 9   1973                   30338 non-null  float64
 10  1974                   30895 non-null  float64
 11  1975                   31591 non-null  float64
 12  1976                   32027 non-null  float64
 13  1977                   32857 non-null  float64
 14  1978                   33538 non-null  float64
 15  1979                   33755 non-null  float64
 16  1980                   34431 non-null  float64
 17  1981                   36068 non-null  float64
 18  1982                   36386 non-null  float64
 19  1983                   36690 non-null  float64
 20  1984                   37167 non-null  float64
 21  1985                   37555 non-null  float64
 22  1986                   37674 non-null  float64
 23  1987                   37330 non-null  float64
 24  1988                   37174 non-null  float64
 25  1989                   38175 non-null  float64
 26  1990                   38117 non-null  float64
 27  1991                   37921 non-null  float64
 28  1992                   39096 non-null  float64
 29  1993                   40001 non-null  float64
 30  1994                   40671 non-null  float64
 31  1995                   40916 non-null  float64
 32  1996                   41533 non-null  float64
 33  1997                   41511 non-null  float64
 34  1998                   41803 non-null  float64
 35  1999                   43250 non-null  float64
 36  2000                   42869 non-null  float64
 37  2001                   42880 non-null  float64
 38  2002                   42696 non-null  float64
 39  2003                   42482 non-null  float64
 40  2004                   42638 non-null  float64
 41  2005                   42546 non-null  float64
 42  2006                   42710 non-null  float64
 43  2007                   43048 non-null  float64
 44  2008                   42872 non-null  float64
 45  2009                   43175 non-null  float64
 46  2010                   43100 non-null  float64
 47  2011                   42458 non-null  float64
 48  2012                   42340 non-null  float64
 49  2013                   42723 non-null  float64
 50  2014                   43826 non-null  float64
 51  2015                   43603 non-null  float64
 52  2016                   43336 non-null  float64
 53  2017                   43455 non-null  float64
 54  2018                   43394 non-null  float64
 55  2019                   43293 non-null  float64
 56  2020                   43734 non-null  float64
 57  2021                   43544 non-null  float64
 58  2022                   43289 non-null  float64
 59  2023                   11037 non-null  float64
 60  2024                   10940 non-null  float64
 61  2025                   10730 non-null  float64
 62  2026                   10594 non-null  float64
 63  2027                   10457 non-null  float64
 64  2028                   10235 non-null  float64
 65  2029                   10030 non-null  float64
 66  2030                   9854 non-null   float64
dtypes: float64(61), object(6)
memory usage: 36.2+ MB

In [11]:
world_bank_country.columns

Index(['Country Name', 'Country Code', 'Counterpart-Area Name',
       'Counterpart-Area Code', 'Series Name', 'Series Code', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025',
       '2026', '2027', '2028', '2029', '2030'],
      dtype='object')

### Convert all the values to trillion, Assinging a New variable (world_bank_data) and  Filling the missing values with zeros

In [12]:
# Select columns from '1970' to '2030'
selected_columns = world_bank_country.loc[:, '1970':'2030']

# Sum values along each row
world_bank_country['Total (Trillion USD)'] = selected_columns.sum(axis=1) / 1e12  # Convert to trillion

# Round values to four decimal places
world_bank_country[selected_columns.columns] /= 1e12  # Convert selected columns to trillion
world_bank_country['Total (Trillion USD)'] = world_bank_country['Total (Trillion USD)']  

# Assign the world_bank_country DataFrame to a new variable world_bank_data
world_bank_data = world_bank_country

# Round total to four decimal places
world_bank_data.round(4)

# Fill missing values with zeros in the world_bank_data DataFrame
world_bank_data.fillna(0, inplace=True)

# Display the modified DataFrame
world_bank_data.tail()

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,Total (Trillion USD)
77787,Zimbabwe,ZWE,World,WLD,"Undisbursed external debt, official creditors ...",DT.UND.OFFT.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000060,0.000314,0.000452,0.000703,0.000612,0.000696,0.000768,0.000867,0.00086,0.000829,0.001180,0.001203,0.001270,0.001267,0.001279,0.001196,0.001147,0.001000,0.001138,0.001114,0.000969,0.000689,0.000451,0.000484,0.000394,0.000275,0.000483,0.000336,0.000199,0.000126,0.000334,0.000623,0.000561,0.000899,0.001017,0.000839,0.001625,0.001510,0.001368,0.001359,0.001308,0.001135,0.000840,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.035778
77788,Zimbabwe,ZWE,World,WLD,"Undisbursed external debt, private creditors (...",DT.UND.PRVT.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000005,0.000048,0.000026,0.000489,0.000526,0.000298,0.000200,0.000168,0.000156,0.000300,0.00028,0.000193,0.000115,0.000337,0.000146,0.000147,0.000168,0.000107,0.000076,0.000157,0.000164,0.000088,0.000074,0.000053,0.000044,0.000024,0.000022,0.000016,0.000017,0.000017,0.000016,0.000017,0.000014,0.000010,0.000010,0.000008,0.000021,0.000011,0.000009,0.000007,0.000006,0.000006,0.000007,0.000007,0.000006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.004614
77789,Zimbabwe,ZWE,World,WLD,"Undisbursed external debt, total (UND, current...",DT.UND.DPPG.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000005,0.000048,0.000086,0.000803,0.000979,0.001000,0.000812,0.000864,0.000923,0.001167,0.00114,0.001023,0.001295,0.001540,0.001416,0.001414,0.001447,0.001303,0.001222,0.001157,0.001302,0.001202,0.001043,0.000742,0.000495,0.000507,0.000415,0.000291,0.000500,0.000353,0.000215,0.000142,0.000349,0.000632,0.000571,0.000907,0.001038,0.000851,0.001634,0.001517,0.001374,0.001365,0.001315,0.001141,0.000846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.040393
77790,Zimbabwe,ZWE,World,WLD,"Use of IMF credit (DOD, current US$)",DT.DOD.DIMF.US.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000044,0.000041,0.000200,0.000256,0.000264,0.000234,0.000156,0.00007,0.000029,0.000007,0.000000,0.000216,0.000282,0.000376,0.000461,0.000437,0.000385,0.000407,0.000369,0.000281,0.000262,0.000280,0.000302,0.000293,0.000111,0.000113,0.000118,0.000114,0.000116,0.000110,0.000109,0.000102,0.000100,0.000092,0.000087,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.006823
77791,Zimbabwe,ZWE,World,WLD,"Use of IMF credit and SDR allocations (DOD, cu...",DT.DOD.DIMF.CD,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000044,0.000041,0.000200,0.000256,0.000264,0.000234,0.000156,0.00007,0.000029,0.000007,0.000000,0.000216,0.000282,0.000376,0.000461,0.000437,0.000385,0.000407,0.000383,0.000294,0.000275,0.000294,0.000317,0.000309,0.000125,0.000128,0.000134,0.000129,0.000542,0.000529,0.000527,0.000520,0.000519,0.000487,0.000464,0.000455,0.000482,0.000471,0.000468,0.000488,0.001422,0.001352,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.014981

In [13]:
# Checking for missing values:
print(f"\nCount of missing values in world_bank_data df: {world_bank_data.isnull().sum().sum()}")

# Checking for duplicated values:
print(f"\nCount of duplicated values in world_bank_data df: {world_bank_data.duplicated().sum().sum()}")

Count of missing values in world_bank_data df: 0

Count of duplicated values in world_bank_data df: 0

In [14]:
# Display the shape of the 'world_bank_data' DataFrame
print(f"Shape of 'world_bank_data' DataFrame: {world_bank_data.shape}")

# Display the columns of the 'world_bank_data' DataFrame
print(f"\nColumns of 'world_bank_data' DataFrame: {', '.join(world_bank_data.columns)}")

# Display information about the 'world_bank_data' DataFrame
print("\nInformation about 'world_bank_data' DataFrame:")
world_bank_data.info()

Shape of 'world_bank_data' DataFrame: (69784, 68)

Columns of 'world_bank_data' DataFrame: Country Name, Country Code, Counterpart-Area Name, Counterpart-Area Code, Series Name, Series Code, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, Total (Trillion USD)

Information about 'world_bank_data' DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 69784 entries, 0 to 77791
Data columns (total 68 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country Name           69784 non-null  object
 1   Country Code           69784 non-null  object
 2   Counterpart-Area Name  69784 non-null  object
 3   Counterpart-Area Code  69784 non-null  object
 4   Series Name            69784 non-null  object
 5   Series Code            69784 non-null  object
 6   1970                   69784 non-null  float64
 7   1971                   69784 non-null  float64
 8   1972                   69784 non-null  float64
 9   1973                   69784 non-null  float64
 10  1974                   69784 non-null  float64
 11  1975                   69784 non-null  float64
 12  1976                   69784 non-null  float64
 13  1977                   69784 non-null  float64
 14  1978                   69784 non-null  float64
 15  1979                   69784 non-null  float64
 16  1980                   69784 non-null  float64
 17  1981                   69784 non-null  float64
 18  1982                   69784 non-null  float64
 19  1983                   69784 non-null  float64
 20  1984                   69784 non-null  float64
 21  1985                   69784 non-null  float64
 22  1986                   69784 non-null  float64
 23  1987                   69784 non-null  float64
 24  1988                   69784 non-null  float64
 25  1989                   69784 non-null  float64
 26  1990                   69784 non-null  float64
 27  1991                   69784 non-null  float64
 28  1992                   69784 non-null  float64
 29  1993                   69784 non-null  float64
 30  1994                   69784 non-null  float64
 31  1995                   69784 non-null  float64
 32  1996                   69784 non-null  float64
 33  1997                   69784 non-null  float64
 34  1998                   69784 non-null  float64
 35  1999                   69784 non-null  float64
 36  2000                   69784 non-null  float64
 37  2001                   69784 non-null  float64
 38  2002                   69784 non-null  float64
 39  2003                   69784 non-null  float64
 40  2004                   69784 non-null  float64
 41  2005                   69784 non-null  float64
 42  2006                   69784 non-null  float64
 43  2007                   69784 non-null  float64
 44  2008                   69784 non-null  float64
 45  2009                   69784 non-null  float64
 46  2010                   69784 non-null  float64
 47  2011                   69784 non-null  float64
 48  2012                   69784 non-null  float64
 49  2013                   69784 non-null  float64
 50  2014                   69784 non-null  float64
 51  2015                   69784 non-null  float64
 52  2016                   69784 non-null  float64
 53  2017                   69784 non-null  float64
 54  2018                   69784 non-null  float64
 55  2019                   69784 non-null  float64
 56  2020                   69784 non-null  float64
 57  2021                   69784 non-null  float64
 58  2022                   69784 non-null  float64
 59  2023                   69784 non-null  float64
 60  2024                   69784 non-null  float64
 61  2025                   69784 non-null  float64
 62  2026                   69784 non-null  float64
 63  2027                   69784 non-null  float64
 64  2028                   69784 non-null  float64
 65  2029                   69784 non-null  float64
 66  2030                   69784 non-null  float64
 67  Total (Trillion USD)   69784 non-null  float64
dtypes: float64(62), object(6)
memory usage: 36.7+ MB

In [15]:
# Display the first few rows of the 'world_bank_data' DataFrame
print("\nFirst few rows of 'world_bank_data' DataFrame:")
world_bank_data.head()

First few rows of 'world_bank_data' DataFrame:

,Country Name,Country Code,Counterpart-Area Name,Counterpart-Area Code,Series Name,Series Code,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030,Total (Trillion USD)
0,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.DPPG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.025000e-11,8.083300e-12,9.957500e-12,0.0,7.833300e-12,0.0,0.0,0.0,2.983330e-11,0.0,0.0,1.983560e-11,0.0,1.790410e-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.036971e-10
1,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.OFFT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.025000e-11,8.083300e-12,9.957500e-12,0.0,7.833300e-12,0.0,0.0,0.0,2.983330e-11,0.0,0.0,1.983560e-11,0.0,1.790410e-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.036971e-10
2,Afghanistan,AFG,World,WLD,Average grace period on new external debt comm...,DT.GPA.PRVT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
3,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.DPPG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.061760e-11,4.302480e-11,5.800610e-11,0.0,2.121190e-11,0.0,0.0,0.0,8.192890e-11,0.0,0.0,6.426460e-11,0.0,7.307900e-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.921329e-10
4,Afghanistan,AFG,World,WLD,Average grant element on new external debt com...,DT.GRE.OFFT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.061760e-11,4.302480e-11,5.800610e-11,0.0,2.121190e-11,0.0,0.0,0.0,8.192890e-11,0.0,0.0,6.426460e-11,0.0,7.307900e-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.921329e-10

### Unique Series Code and Count

In [16]:

# Group by 'Series Code' and count occurrences where 'Total (Trillion USD)' is greater than 0
series_counts_po_total = world_bank_data[world_bank_country['Total (Trillion USD)'] != 0]\
                              .groupby('Series Code').size().reset_index(name='Count')

# Sort the result by 'Count' in descending order
series_counts_po_total = series_counts_po_total.sort_values(by='Count', ascending=False)

# Reset the index and add a new column for serial numbers
series_counts_po_total.reset_index(drop=True, inplace=True)
series_counts_po_total.index += 1

# Display the result
print(series_counts_po_total.head())

         Series Code  Count
1     BM.GSR.TOTL.CD    122
2  DT.INT.MLAT.PS.CD    122
3     DT.DOD.MLAT.ZS    122
4     DT.DOD.OFFT.CD    122
5  DT.DOD.OFFT.GG.CD    122

## What is the Total Amount of Debt that is owed by the countries listed in the dataset?

In [17]:
# Group by 'Country Name' and 'Country Code', and sum the values
grouped_world_bank_data = world_bank_data.groupby(['Country Name', 'Country Code'])['Total (Trillion USD)'].sum().reset_index()

# Format the 'Total (Trillion USD)' column to display values in trillions with two decimal places
grouped_world_bank_data['Total (Trillion USD)'] = grouped_world_bank_data['Total (Trillion USD)'].round(2)

# Calculate the total debt for all countries
total_debt_all_countries = grouped_world_bank_data['Total (Trillion USD)'].sum()  # No need to convert, it's already in trillions

# Display the grouped data and total debt
display(grouped_world_bank_data[['Country Name', 'Country Code', 'Total (Trillion USD)']])
print(f'Total Debt for All Countries: {total_debt_all_countries:.2f} Trillion USD')

                       Country Name Country Code  Total (Trillion USD)
0                       Afghanistan          AFG                  1.10
1                           Albania          ALB                  2.64
2                           Algeria          DZA                 23.53
3                            Angola          AGO                 21.10
4                         Argentina          ARG                 88.76
5                           Armenia          ARM                  2.82
6                        Azerbaijan          AZE                  5.98
7                        Bangladesh          BGD                 28.35
8                           Belarus          BLR                 10.24
9                            Belize          BLZ                  0.68
10                            Benin          BEN                  2.24
11                           Bhutan          BTN                  0.83
12                          Bolivia          BOL                  6.60
13           Bosnia and Herzegovina          BIH                  3.85
14                         Botswana          BWA                  1.73
15                           Brazil          BRA                219.41
16                         Bulgaria          BGR                 14.73
17                     Burkina Faso          BFA                  2.99
18                          Burundi          BDI                  0.78
19                       Cabo Verde          CPV                  0.69
20                         Cambodia          KHM                  4.42
21                         Cameroon          CMR                  6.84
22         Central African Republic          CAF                  0.60
23                             Chad          TCD                  1.62
24                            China          CHN                554.34
25                         Colombia          COL                 47.13
26                          Comoros          COM                  0.22
27                 Congo, Dem. Rep.          COD                  7.03
28                      Congo, Rep.          COG                  4.22
29                       Costa Rica          CRI                  8.30
30                    Cote d'Ivoire          CIV                 11.73
31                         Djibouti          DJI                  0.76
32                         Dominica          DMA                  0.17
33               Dominican Republic          DOM                 11.94
34                          Ecuador          ECU                 18.34
35                 Egypt, Arab Rep.          EGY                 46.03
36                      El Salvador          SLV                  6.28
37                          Eritrea          ERI                  0.39
38                         Eswatini          SWZ                  0.61
39                         Ethiopia          ETH                 11.35
40                             Fiji          FJI                  0.76
41                            Gabon          GAB                  3.77
42                      Gambia, The          GMB                  0.49
43                          Georgia          GEO                  4.16
44                            Ghana          GHA                 11.06
45                          Grenada          GRD                  0.28
46                        Guatemala          GTM                  7.89
47                           Guinea          GIN                  2.59
48                    Guinea-Bissau          GNB                  0.54
49                           Guyana          GUY                  1.33
50                            Haiti          HTI                  1.63
51                         Honduras          HND                  5.10
52                            India          IND                194.94
53                        Indonesia          IDN                131.64
54               Iran, Islamic Rep.          IRN                 20.36
55                             Iraq          IRQ                  6.51
56                          Jamaica          JAM                  6.10
57                           Jordan          JOR                  9.72
58                       Kazakhstan          KAZ                 33.66
59                            Kenya          KEN                 11.94
60                           Kosovo          XKX                  0.57
61                  Kyrgyz Republic          KGZ                  2.18
62                          Lao PDR          LAO                  4.25
63                          Lebanon          LBN                 18.03
64                          Lesotho          LSO                  0.80
65                          Liberia          LBR                  1.07
66                       Madagascar          MDG                  3.23
67                           Malawi          MWI                  1.92
68                         Maldives          MDV                  0.95
69                             Mali          MLI                  3.08
70                       Mauritania          MRT                  2.39
71                        Mauritius          MUS                  3.31
72                           Mexico          MEX                211.14
73                          Moldova          MDA                  1.68
74                         Mongolia          MNG                  4.83
75                       Montenegro          MNE                  1.61
76                          Morocco          MAR                 25.46
77                       Mozambique          MOZ                  8.63
78                          Myanmar          MMR                  7.20
79                            Nepal          NPL                  3.89
80                        Nicaragua          NIC                  5.79
81                            Niger          NER                  2.12
82                          Nigeria          NGA                 34.27
83                  North Macedonia          MKD                  2.58
84                         Pakistan          PAK                 42.19
85                 Papua New Guinea          PNG                  4.48
86                         Paraguay          PRY                  5.85
87                             Peru          PER                 27.64
88                      Philippines          PHL                 46.61
89               Russian Federation          RUS                187.08
90                           Rwanda          RWA                  2.03
91                            Samoa          WSM                  0.22
92            Sao Tome and Principe          STP                  0.17
93                          Senegal          SEN                  6.18
94                           Serbia          SRB                 15.62
95                     Sierra Leone          SLE                  1.03
96                  Solomon Islands          SLB                  0.18
97                          Somalia          SOM                  1.62
98                     South Africa          ZAF                 47.23
99                        Sri Lanka          LKA                 16.08
100                       St. Lucia          LCA                  0.33
101  St. Vincent and the Grenadines          VCT                  0.21
102                           Sudan          SDN                 10.89
103                        Suriname          SUR                  0.51
104            Syrian Arab Republic          SYR                  3.24
105                      Tajikistan          TJK                  1.57
106                        Tanzania          TZA                  9.66
107                        Thailand          THA                 59.96
108                     Timor-Leste          TLS                  0.19
109                            Togo          TGO                  1.38
110                           Tonga          TON                  0.10
111                         Tunisia          TUN                 13.86
112                         Turkiye          TUR                124.63
113                    Turkmenistan          TKM                  2.74
114                          Uganda          UGA                  5.17
115                         Ukraine          UKR                 33.01
116                      Uzbekistan          UZB                  8.16
117                         Vanuatu          VUT                  0.15
118                        Viet Nam          VNM                 37.29
119                     Yemen, Rep.          YEM                  5.09
120                          Zambia          ZMB                  7.07
121                        Zimbabwe          ZWE                  3.98

Total Debt for All Countries: 2720.22 Trillion USD

In [ ]:
Debt_fig_map = px.choropleth(
    grouped_world_bank_data,
    locations='Country Code',
    color='Total (Trillion USD)',
    hover_name='Country Name',
    title='Total Debt by Country (Trillions USD)',
    labels={'Total (Trillion USD)': 'Total Debt (Trillion USD)'},
    color_continuous_scale='redor',  # Choose a color scale
    height = 650
)

# Show the choropleth map
Debt_fig_map.show()

## Which country owns the maximum amount of debt and what does that amount look like?

In [ ]:
# Top 10 Countries with 'Total Debt (Trillion USD)' 

sorted_grouped_data = grouped_world_bank_data.sort_values(by='Total (Trillion USD)', ascending=False)

# Reset the index and add a new column for serial numbers
sorted_grouped_data.reset_index(drop=True, inplace=True)
sorted_grouped_data.index += 1

sorted_grouped_data[['Country Name','Country Code', 'Total (Trillion USD)']].head(10)

In [ ]:
import plotly.express as px

# Assuming 'sorted_grouped_dod_data' is your sorted DataFrame
top_10_countries = sorted_grouped_data.head(10)

# Create a bar chart using Plotly Express
top_10_countries_Total_Debt = px.bar(
    top_10_countries,
    x='Country Name',
    y='Total (Trillion USD)',
    title='Top 10 Countries by Total Debt (Trillion USD)',
    labels={'Total (Trillion USD)': 'Total Debt (Trillion USD)'},
    color='Country Code',
    text='Total (Trillion USD)',  # Display values on top of each bar
    height=600,  # Increase the height of the chart
)

# Show the chart
top_10_countries_Total_Debt.show()

In [ ]:
# Which country owns the maximum amount of debt 

sorted_grouped_data[['Country Name','Country Code', 'Total (Trillion USD)']].iloc[0]

##  What is the average amount of debt owed by countries across different debt indicators?

In [ ]:

# Group by 'Country Name' and calculate the mean of the 'Total Debt (Trillion USD)' for each country
average_debt_by_country = world_bank_data.groupby('Country Name')['Total (Trillion USD)'].mean().reset_index()

# Sort the DataFrame by the 'Total (Trillion USD)' column in descending order
average_debt_by_country = average_debt_by_country.sort_values(by='Total (Trillion USD)', ascending=False)

# Round the 'Total (Trillion USD)' column to two decimal places
average_debt_by_country['Total (Trillion USD)'] = average_debt_by_country['Total (Trillion USD)'].round(4)

# Reset the index and add a new column for serial numbers
average_debt_by_country.reset_index(drop=True, inplace=True)
average_debt_by_country.index += 1

# Display the result
display('Average Debt by Country (Trillions USD)', average_debt_by_country)

In [ ]:

# Create the bar chart
average_debt_by_country_fig = px.bar(average_debt_by_country.head(10), 
             x='Total (Trillion USD)', 
             y='Country Name', 
             title='Top 10 Countries by Average Debt (Trillions USD)',
             labels={'Total (Trillion USD)': 'Average Debt (Trillions USD)'},
             height=600,
             color='Country Name',
             text='Total (Trillion USD)', 
            )

# Adjust layout
average_debt_by_country_fig.update_layout(xaxis_title='Average Debt (Trillions USD)',
                  yaxis_title='Country',
                  yaxis=dict(categoryorder='total ascending'))  # Set y-axis ordering

average_debt_by_country_fig.show()

## 1. The World Bank's International Debt data

In [ ]:
# The World Bank's International Debt data

world_bank_data.head()

In [ ]:
# Displaying basic statistics of the dataset
world_bank_data.describe()

## 2. Finding the number of Distinct Countries

In [ ]:
# Get the number of unique countries in the 'Country Name' column
unique_countries_count = world_bank_data['Country Name'].nunique()

# Get the unique country names
unique_countries = world_bank_data['Country Name'].unique()

# Create a DataFrame with unique country names
unique_countries_df = pd.DataFrame({'Country Name': unique_countries})

# Display the number of unique countries and the unique country names
print(f"Number of unique countries: {unique_countries_count}")
unique_countries_df

## 3.Finding out the distinct debt indicators

In [ ]:

# Display unique combinations of 'Series Code' and 'Series Name' in the result
distinct_debt_indicators = world_bank_data[['Series Code', 'Series Name']].drop_duplicates()

# Count of distinct debt indicators
count_distinct_debt_indicators = world_bank_data['Series Code'].nunique()
print(f"\nCount of distinct debt indicators: {count_distinct_debt_indicators}")

# Reset the index and add a new column for serial numbers
distinct_debt_indicators.reset_index(drop=True, inplace=True)
distinct_debt_indicators.index += 1

distinct_debt_indicators

## 4. Total amount of debt owed by the countries

In [ ]:
# Calculate the total debt for all countries
total_debt_all_countries = world_bank_data['Total (Trillion USD)'].sum()

# Display the result
print(f"Total amount of debt owed by all countries: {total_debt_all_countries:.2f} Trillion USD")

## 5. Country with the highest debt

In [ ]:
# Find the country with the highest debt
max_debt_country = sorted_grouped_data.loc[sorted_grouped_data['Total (Trillion USD)'].idxmax()]

# Display the result
print("Country with the maximum amount of debt:")
print(max_debt_country[['Country Name','Country Code','Total (Trillion USD)']])

## 6. Average amount of debt across indicators

In [ ]:
# Extract 'Series Code' and values for each year
data_subset_series_code =  world_bank_data[['Series Code', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
                               '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
                               '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
                               '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
                               '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
                               '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028',
                               '2029', '2030']]

# Sum values across all years for each 'Series Code'
series_code_Avg = data_subset_series_code.groupby('Series Code').mean().reset_index()

# Sum all the values across all years for each 'Series Code', convert to trillion, and round to 2 decimal places
series_code_Avg['Average debt'] = series_code_Avg.iloc[:, 1:].sum(axis=1) 
series_code_Avg['Average debt'] = series_code_Avg['Average debt'].round(2)

# Sort the DataFrame by the 'Average' column in descending order
sorted_series_code_Avg = series_code_Avg.sort_values(by='Average debt', ascending=False)

# Reset the index and add a new column for serial numbers
sorted_series_code_Avg.reset_index(drop=True, inplace=True)
sorted_series_code_Avg.index += 1

# Display the sorted result with serial numbers
print("Series Code Averages (Trillion USD):")
sorted_series_code_Avg[['Series Code', 'Average debt']]

## 7. The highest amount of principal repayments

In [ ]:

# Filter rows where 'Series Name' contains information about principal repayments
principal_repayments_data = world_bank_data[world_bank_data['Series Name'].str.contains('Principal Repayments', case=False, na=False)].copy()

# Assuming 'Total (Trillion USD)' is the column containing the principal repayments amounts
max_principal_repayment_row = principal_repayments_data.loc[principal_repayments_data['Total (Trillion USD)'].idxmax()]

# Display the desired information
max_principal_repayment = max_principal_repayment_row[['Country Code', 'Country Name', 'Series Code','Series Name','Total (Trillion USD)']]

max_principal_repayment

## 8. The most common debt indicators

In [ ]:
# Group by 'Series Code' and sum the total debt for each debt indicator
debt_indicator_totals = world_bank_data.groupby('Series Code')['Total (Trillion USD)'].sum().reset_index()

# Sort the data in descending order by total debt amount
top_debt_indicators = debt_indicator_totals.sort_values(by='Total (Trillion USD)', ascending=False)

# Display the top debt indicators
top_debt_indicators.head()

## 9. Comprehensive Debt Analysis of India: Examining Trends and Key Financial Indicators

In [ ]:

# Assuming you have already loaded your data into the world_bank_data DataFrame

# Filter data for India
india_data = world_bank_data[world_bank_data['Country Name'] == 'India'].copy()

# Reset the index and add a new column for serial numbers
india_data.reset_index(drop=True, inplace=True)
india_data.index += 1

years_columns = india_data.columns[6:-1]

# Add a row for total values for each year
india_data.loc['Total'] = india_data.iloc[:, 6:-1].sum()

# Round the values to two decimal places
india_data[years_columns] = india_data[years_columns].round(4)

# Display the data for India
display(india_data)

In [ ]:
india_data.shape

In [ ]:
india_data.columns

In [ ]:

# Define a list of Series Codes
series_codes = ['.AMT', '.DIS', '.DOD', '.INT', '.NFL', '.NTR', '.TDS']

# Create a dictionary to store the DataFrames
grouped_data = {}

# Iterate through each Series Code
for code in series_codes:
    # Check for NaN or NA values in 'Series Code' column
    valid_series_code = india_data['Series Code'].notna()

    # Filter rows based on Series Code
    filtered_data = india_data[valid_series_code & india_data['Series Code'].str.contains(code)].copy()

    # Group by 'Series Code' and sum the values
    grouped_data[code] = filtered_data.groupby('Series Code').sum()

    # Round the values to two decimal places
    grouped_data[code] = grouped_data[code].round(4)

    # Sort the data by the total sum in descending order
    grouped_data[code] = grouped_data[code].sort_values(by='Total (Trillion USD)', ascending=False)

    # Reset the index and add a new column for serial numbers
    grouped_data[code].reset_index(drop=True, inplace=True)
    grouped_data[code].index += 1

# Access the DataFrames using keys (Series Codes)
sorted_india_amt_data = grouped_data['.AMT']
sorted_india_dis_data = grouped_data['.DIS']
sorted_india_dod_data = grouped_data['.DOD']
sorted_india_int_data = grouped_data['.INT']
sorted_india_nfl_data = grouped_data['.NFL']
sorted_india_ntr_data = grouped_data['.NTR']
sorted_india_tds_data = grouped_data['.TDS']

In [ ]:
sorted_india_amt_data.shape

In [ ]:
sorted_india_dis_data.shape

In [ ]:
sorted_india_dod_data.shape

In [ ]:
sorted_india_int_data.shape

In [ ]:
sorted_india_nfl_data.shape

In [ ]:
sorted_india_ntr_data.shape

In [ ]:
sorted_india_tds_data .shape

### 9.1 India's Total Debt Over the Years

In [ ]:
# Extract only the 'Total' row
india_data_total_debt_trend = india_data.loc['Total', :]

# Create a DataFrame with the 'Total' row
india_data_total_debt_trend = pd.DataFrame(india_data_total_debt_trend).T 

# Calculate the running total for each year
india_data_total_debt_trend['Running Total'] = india_data_total_debt_trend.iloc[:, :-1].cumsum(axis=1).iloc[:, -1]

# Add a row for the running total
india_data_total_debt_trend.loc['Running Total'] = india_data_total_debt_trend.loc['Total'].cumsum()

# Display the DataFrame with the running total
india_data_debt_trend = india_data_total_debt_trend[['1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
                     '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
                     '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
                     '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
                     '2018', '2019', '2020', '2021', '2022','2023', '2024', '2025', '2026', '2027', '2028', '2029', '2030']]

# Plot the running total using Plotly Express
india_data_debt_trend_fig = px.line(india_data_debt_trend.T, 
                                    x=india_data_debt_trend.T.index, 
                                    y=['Running Total'], 
                                    title='Total Debt Over the Years for India',
                                    labels={'Running Total': 'Total (Trillion USD)'},
                                    height=600,
                                    )
india_data_debt_trend_fig.show()

### 9.2 What are the Key Financial Debt Indicators and their values?

      In debt analysis, key indicators such as DOD (Debt Outstanding), AMT (Amortization), DIS (Debt Service), INT (Interest Payments), NFL (Net Financial Flows), NTR (Net Transfers), and TDS (Total Debt Service) offer insights into a country's debt burden, repayment patterns, financial flows, and ability to meet obligations, providing a comprehensive view for assessment.

In [ ]:

# List of DataFrames
dataframes = [sorted_india_amt_data, sorted_india_dis_data, sorted_india_dod_data, sorted_india_int_data, sorted_india_nfl_data, sorted_india_ntr_data, sorted_india_tds_data]

# Dictionary to store totals for each DataFrame
totals_dict = {}

# Calculate totals for each DataFrame
for i, dataframe in enumerate(dataframes):
    # Assign a name to the DataFrame
    dataframe_name = f"DataFrame_{i + 1}"

    # List of years from 1970 to 2030
    years = [str(year) for year in range(1970, 2031)]

    # Calculate the totals by years
    totals_by_year = dataframe[years].sum()

    # Store totals in the dictionary with the DataFrame name as the key
    totals_dict[f"{dataframe_name}"] = totals_by_year

# Convert totals_dict to a DataFrame
totals_df = pd.DataFrame(totals_dict)

# Assuming 'totals_df' is your DataFrame
new_column_headings = ['AMT', 'DIS', 'DOD', 'INT', 'NFL', 'NTR', 'TDS']

# Rename columns
totals_df.columns = new_column_headings 

# Add a row at the end with the grand total for each column
totals_df.loc['Grand Total (Trillion USD)'] = totals_df.sum()

# Display the updated DataFrame
totals_df

In [ ]:
# Creating the DataFrame with column names as key indicators
indicators_data = {'AMT': 7.6087, 'DIS': 9.0823, 'DOD': 81.2697, 'INT': 2.4379, 'NFL': 3.6667, 'NTR': 1.7976, 'TDS': 10.5306}
indicators_df = pd.DataFrame(indicators_data, index=['Grand Total (Trillion USD)'])

Key_Financial_Indicators_fig = px.bar(indicators_df.transpose(), 
             x=indicators_df.columns, 
             y=indicators_df.iloc[0],
             labels={'x': 'Indicator', 'y': 'Total (Trillion USD)'},
             title='Examining Key Financial Debt Indicators Analysis',
             height=600,
             color=indicators_df.columns,  # Use colors based on columns
             text=indicators_df.iloc[0].round(2).astype(str) ,  # Display text labels
             )

# Show the plot
Key_Financial_Indicators_fig.show()

In [ ]:

grand_total = indicators_df.sum(axis=1).values[0]
print(f'Key indicators such as DOD (Debt Outstanding), AMT (Amortization), DIS (Debt Service), INT (Interest Payments), NFL (Net Financial Flows), NTR (Net Transfers), and TDS (Total Debt Service) has debt of {grand_total:.2f}  Trillion $')

### 9.3  Finding Top 10 DOD (Debt Outstanding)

In [ ]:
# Filter rows based on valid 'Series Code' and containing '.DOD'
valid_series_code_dod = india_data['Series Code'].notna() & india_data['Series Code'].str.contains('.DOD', na=False)
india_dod_data = india_data[valid_series_code_dod].copy()

# Sort the data by the total sum in descending order
india_dod_sum_sorted = india_dod_data.sort_values(by='Total (Trillion USD)', ascending=False).reset_index()

# Reset the index and add a new column for serial numbers
india_dod_data.reset_index(drop=True, inplace=True)
india_dod_data.index += 1

# Format the 'Total (Trillion USD)' column to display amounts in trillion with 2 decimal places
india_dod_sum_sorted['Total (Trillion USD)'] = india_dod_sum_sorted['Total (Trillion USD)'].apply(lambda x: f'{x:.2f}')

# Display the result
india_dod_sum_sorted[['Series Code', 'Series Name', 'Total (Trillion USD)']].head(10)

In [ ]:

# Assuming 'india_dod_sum_sorted' is your DataFrame
Top_10_DOD_fig = px.pie(india_dod_sum_sorted.head(10),
             values='Total (Trillion USD)',
             names='Series Code',
             title='Top 10 DOD (Debt Outstanding)',
             hole=0.3,
             height = 600,
             )

# Update traces to include custom labels (Total (Trillion USD) values)
Top_10_DOD_fig.update_traces(textinfo='label+percent', pull=[0.01] * 10, textposition='inside', hoverinfo='label+percent+value')

# Show the plot
Top_10_DOD_fig.show()

### 9.4  Top 10 India's Debt

In [ ]:

india_Top_10_series_code_sorted = india_data.sort_values(by='Total (Trillion USD)', ascending=False).copy()

# Reset the index and add a new column for serial numbers
india_Top_10_series_code_sorted.reset_index(drop=True, inplace=True)
india_Top_10_series_code_sorted.index += 1
    
india_Top_10_series_code_sorted[['Series Code','Series Name' ,'Total (Trillion USD)']].round(2).head(10)

In [ ]:
india_Top_10_series_code_fig = px.pie(india_Top_10_series_code_sorted[['Series Code','Series Name' ,'Total (Trillion USD)']].head(10),
                                      values='Total (Trillion USD)',
                                      names='Series Code',
                                      title='Top 10 Indias debt serices code',
                                      hole=0.3,
                                      height = 600,
                                     )                                    
                        
india_Top_10_series_code_fig.show()

### 9.5 Total Debt based on Sector Wise in India

In [ ]:
india_data_sector = pd.merge(india_data, india_sector_data, on='Series Code', how='left').copy()

# Add a row for total values for each year
india_data_sector.loc['Total'] = india_data_sector.iloc[:, 6:-1].sum()

# Display the updated dataframe
india_data_sector.head()

In [ ]:
india_data_sector_wise = india_data_sector.groupby('Sector').sum()

india_data_sector_wise_sorted = india_data_sector_wise.sort_values(by='Total (Trillion USD)', ascending=False)

india_data_sector_wise_sorted[['Total (Trillion USD)']].round(2)

In [ ]:
import plotly.express as px

# Assuming india_data_sector_wise is the DataFrame containing your grouped and summed data
india_data_sector_wise_fig = px.bar(india_data_sector_wise_sorted, x=india_data_sector_wise_sorted.index, y='Total (Trillion USD)',
             labels={'Total (Trillion USD)': 'Total Trillion USD'},
             title='Total Debt based on Sector Wise in India',
             text='Total (Trillion USD)',
             height=600,  # Added a comma after 'text' and corrected the parameter name
             color='Total (Trillion USD)')  # Corrected the parameter name

india_data_sector_wise_fig.update_traces(texttemplate='%{text:.4s}', textposition='outside')

india_data_sector_wise_fig.show()

### 9.6 India's Interest Payments Analysis

In [ ]:

# Filter data for India and select relevant columns (e.g., 'Series Code', 'Country Name', '1970' to '2023')
india_interest_payments = india_data[(india_data['Country Code'] == 'IND') & (india_data['Series Code'] == 'DT.INT.DECT.CD')]
india_interest_payments = india_interest_payments.loc[:, ['Country Name'] + list(map(str, range(1970, 2024)))]

# Melt the dataframe for easier plotting
india_interest_payments_melt = india_interest_payments.melt(id_vars='Country Name', var_name='Year', value_name='Interest Payments')

# Convert 'Year' to numeric (remove any non-numeric characters)
india_interest_payments_melt ['Year'] = pd.to_numeric(india_interest_payments_melt['Year'], errors='coerce')

# Plotting using Plotly Express
india_interest_payments_fig = px.bar(
    india_interest_payments_melt ,
    x='Year',
    y='Interest Payments',
    color='Country Name',
    labels={'Interest Payments': 'Interest Payments (Trillion USD)'},
    title='Interest Payments (India)',
    text='Interest Payments',
    height= 600,
)
india_interest_payments_fig.show()